
.azienda-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.azienda-card {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    /* Uniforma l'altezza */
    justify-content: space-between; /* Distribuisce gli elementi con spazio tra loro */
    min-height: 350px; /* Imposta un'altezza minima per tutti i riquadri */
}


/* Intestazione azienda */
.azienda-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

/* azienda Info */
.azienda-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left; /* Allinea tutto a sinistra */
    align-items: flex-start; /* Forza gli elementi a partire da sinistra */
}

.azienda-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left; /* Allinea a sinistra */
}

.azienda-address {
    font-size: 14px;
    color: #555;
    margin: 0;
    text-align: left; /* Allinea a sinistra */
}

.azienda-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    word-wrap: break-word;
    text-align: left; /* Allinea a sinistra */
}

.azienda-link:hover {
    text-decoration: underline;
}

/* Logo azienda */
.azienda-logo {
    width: 120px; /* Aumentato */
    height: 120px; /* Aumentato */
    margin-left: 10px;
}

.azienda-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.azienda-logo-placeholder {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;
}


/* Dati Extra */
.azienda-dati-extra {
    margin-top: 10px; /* Aggiunto spazio */
    font-size: 18px; /* Aumentato */
}

.dati-extra-grid p {
    margin: 10px 0; /* Aumentato */
    font-size: 18px; /* Aumentato */
}


/* Azioni */
.azienda-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end; /* Allinea i bottoni verso destra */
    margin-top: auto; /* Spinge i bottoni verso il basso */
}

.azienda-button {
    background-color: var(--secondary-color);
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    flex: 0; /* Impedisce che i bottoni si allarghino */
}

.azienda-button:hover {
    background-color: var(--tertiary-color); /* Colore al passaggio del mouse */
    color: #fff; /* Colore del testo al passaggio del mouse */
}