body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: white;
  --on-bg-text-color: rgb(174, 174, 174);
  --text-color: black;
  --text-color-light: rgba(0, 0, 0, 0.6);
  --primary-color: #abd6cd;
  --secondary-color: #7BA89F;
  --tertiary-color: #547d75;
  --on-tertiary-color: #fff;
  --filter-border-color: #ccc;
}

[data-theme="dark"] {
  --bg-color: rgb(50, 50, 60);
  --on-bg-text-color: rgb(147, 147, 147);
  --text-color: rgb(0, 0, 0);
  --primary-color: #d6abab;
  --secondary-color: #b97979;
  --tertiary-color: #9b4f4f;
  --on-tertiary-color: #fff;
  --filter-border-color: #ccc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
