.indirizzo-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
  }
  
  .indirizzo-form {
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
  }
  
  .indirizzo-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
  }
  
  .indirizzo-select-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .indirizzo-select {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .indirizzo-add-btn {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .indirizzo-add-btn:hover {
    background-color: var(--tertiary-color);
    color: var(--on-tertiary-color);
  }
  
  .indirizzo-next-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .indirizzo-next-btn:hover {
    background-color: var(--tertiary-color);
    color: var(--on-tertiary-color);  
}

.indirizzo-successivo-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .indirizzo-successivo-btn:hover {
    background-color: var(--tertiary-color);
  }


  .new-address-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  .new-address-form input {
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .new-address-form input:focus {
    border-color: var(--secondary-color);
    outline: none;
  }