
  /* Contenitore login */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Assicura che il contenitore occupi l'intera altezza della finestra */
  }
  
  /* Card login */
  .login-card {
    background-color: var(--primary-color); /* Colore verde chiaro */
    border-radius: 20px; /* Angoli arrotondati */
    padding: 20px; /* Più spazio interno */
    width: 350px; /* Card più larga */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombra più marcata */
    text-align: center;
  }
  
  /* Intestazione */
  .login-card h2 {
    margin: 0 0 25px; /* Spaziatura maggiore sotto il titolo */
    font-size: 28px; /* Titolo più grande */
    color: var(--text-color); /* Colore del testo */
  }
  
  /* Etichette */
  .login-card label {
    display: block;
    margin: 15px 0 8px; /* Spaziatura migliorata */
    font-size: 16px; /* Testo delle etichette più grande */
    color: var(--text-color); /* Colore del testo */
    text-align: left;
  }
  
  /* Input */
  .login-card input {
    width: 100%; /* Larghezza completa della card */
    padding: 12px; /* Maggiore padding per un aspetto più proporzionato */
    margin-bottom: 10px; /* Spazio tra gli input */
    border: none;
    border-radius: 10px;
    background-color: var(--faded-white) ; /* Colore verde più chiaro */
    font-size: 16px; /* Testo più grande */
    outline: none;
    box-sizing: border-box; /* Include padding nel calcolo della larghezza */
  }
  
  /* Link "Password dimenticata" */
  .forgot-password {
    display: block;
    margin-top: -7px; /* Si avvicina al campo password */
    margin-bottom: 10px;
    font-size: 14px; /* Testo leggermente più grande */
    color: #007bff; /* Colore blu */
    text-decoration: none;
    text-align: center; /* Allineamento a sinistra */
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Messaggio di errore */
  .error-message {
    color: red;
    font-size: 14px; /* Testo più grande */
    margin-top: 15px; /* Spaziatura migliorata */
  }
  
  /* Bottone Login */
  .login-card button {
    flex-shrink: 0; /* Evita che il pulsante venga ridimensionato */
    background-color: var(--secondary-color); /* Colore blu */
    color: var(--text-color); /* Colore del testo */
    border: none;
    border-radius: 10px; /* Angoli arrotondati */
    padding: 15px; /* Padding maggiore per un pulsante più grande */
    font-size: larger; /* Testo del pulsante più grande */
    cursor: pointer;
    width: 100%; /* Larghezza completa della card */
    margin-top: 20px; /* Spazio sopra il pulsante */
  }
  
  .login-card button:hover {
    background-color: var(--tertiary-color); /* Colore blu più scuro al passaggio del mouse */
    color: var(--on-tertiary-color); /* Colore del testo al passaggio del mouse */
  }